{% extends "base.html" %}

{% block scripts %}
<script src="/static/ctrl_game_list.js?{% now "U" %}"></script>
<script src="/static/js/chess.js"></script>
<script src="/static/js/chessboard.js"></script>

<script src="/static/js/chess.js"></script>
<script src="/static/js/chessboard.js"></script>
<script src="/static/js/jquery-1.10.1.min.js"></script>
<script src="/static/js/jquery.color.min.js"></script>
<script src="/static/js/json3.min.js"></script>
<script src="/static/js/prettify.js"></script>

<link rel="stylesheet" href="/static/css/chessboard.css" />


{% endblock %}


{% block ng_app %}app.game.list{% endblock %}

{% block style %}
<style type="text/css">
.highlight-white {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;  
}
.highlight-black {
  -webkit-box-shadow: inset 0 0 3px 3px blue;
  -moz-box-shadow: inset 0 0 3px 3px blue;
  box-shadow: inset 0 0 3px 3px blue;  
}
</style>
{% endblock %}


 {% block body_extra %}ng-controller="gameDetailController" ng-init="init({{id}})" ng-keydown="key_down($event)"{% endblock %}

{% block content %}
	<div >
      Tempo:{$ tempo $}
      <span ng-if="move.tempo>-1" ng-repeat="move in game.moves">
        <span ng-if="move.tempo%2==0">{$ move.tempo/2 +1  $}.</span>
        <button ng-class="{currentmove:move.tempo==tempo}" ng-click="update_tempo(move.tempo)">{$ move.move $}</button>
      </span>
      {$game.result$}
      <div id="board" style="width: 400px"></div>


	</div>
{% endblock %}


